# Caches and "caches"
__pycache__/
images.txt
poses.npy

# Datasets
data/sets/*
!data/sets/.gitkeep

# Check folders
load_check/*
!load_check/.gitkeep
result_check/*
!result_check/!.gitkeep

models/weights/*
!models/weights/!.gitkeep
