# Caches and "caches"
__pycache__/
images.txt
poses.npy

# Datasets
dataset_*/
!dataset_process/

# Check folders
load_data_check/*
!load_data_check/.gitkeep
result_check/*
!result_check/!.gitkeep

weights/*
!weights/!.gitkeep
